{# empty Twig template #}
{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        {{ form_start(form) }}
        <div class="form-group">

            <div class="row">
                <div class="col-2">
                    {{ form_label(form.indicatif,'Indicatif') }}
                    {{ form_widget(form.indicatif,{'attr':{'placeholder':'Indicatif international','class':'form-control'}}) }}
                </div>
                <div class="col-8">
                    {{ form_label(form.nom,'Nom du Port') }}
                    {{ form_widget(form.nom,{'attr':{'placeholder':'Saisir le nom du port','class':'form-control'}}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-4 form-group">
                    {{ form_label(form.lePays,'Pays') }}
                    {{ form_widget(form.lePays,{'attr':{'class':'form-control'}}) }}
                </div>
                <div class=" col-4 form-check form-group">
                    <div class=" custom-control custom-checkbox form-check-input">
                        {{ form_label(form.lesTypes,'Types de navires acceptés') }}
                        {{ form_widget(form.lesTypes) }}
                    </div>
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-info">Créer</button>
        </div>   
    </div>
    {{ form_end(form) }}             

{% endblock %}